/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.btn {
  color: cadetblue;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.95);
}

.btn:hover {
  color: rosybrown;
}

.circle {
  height: 25rem;
  width: 25rem;
  border-right: .4rem solid cadetblue;
  border-left: .4rem solid cadetblue;
  border-radius: 50%;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1; 
}

#big-circle {
  height: 35rem;
  width: 35rem;
}

#toasts {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}

.toast {
  background-color: white;  
  font-weight: bold;
  font-size: 1.6rem;
  border-radius: .5rem;
  padding: 1rem 2rem;
  margin: .5rem;
}

.toast.work {
  color: blue;
}

.toast.personal {
  color: green;
}

.toast.hobby {
  color: red;
}